.button-color {padding: 10px 46px;
background-color: #E76F51;
color: white;
border: 1px solid #E76F51;
border-radius: 10px;}
.bg-color {background-color: #264653;}
.font-size {font-size: 48px;}
.text-color {color:#E76F51;}
.gray-scale {filter: grayscale(100%);}
